
/*  font-family: 'Actor', sans-serif;
    font-family: 'Adamina', serif;  
    font-family: 'Comfortaa', cursive;
    font-family: 'Poppins', sans-serif; */

/* Global variables  */
@import url('https://fonts.googleapis.com/css2?family=Actor&family=Adamina&family=Comfortaa:wght@700&family=Poppins:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 100%;
    background-color: skyblue;
    height: 80vh;
}

#main{
    width: 70%;
    margin: auto;

}

#header{
    background-color: #800000;
    color: #ffff;
}

#navbar{
    display: flex;
    justify-content: space-around;
}

#footer{
    background-color: #800000;
    height: 15vh;
    color: #ffff;
}