
/*  font-family: 'Actor', sans-serif;
    font-family: 'Adamina', serif;  
    font-family: 'Comfortaa', cursive;
    font-family: 'Poppins', sans-serif; */

/* Global variables  */
@import url('https://fonts.googleapis.com/css2?family=Actor&family=Adamina&family=Comfortaa:wght@700&family=Poppins:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: none;
    color: #ffff;
}

.container{
    width: 100%;
    min-height: 30vh;
}

#main{
    width: 70%;
    margin: auto;

}

/* Header & Navbar section  */
#header{
    background-color: #800000;
    color: #ffff;
    height: 6vh;
}

#navbar{
    display: flex;
    justify-content: center
}

/* Search box section  */
.search{
    margin: 30px 400px;
    width: 800px;
    border-radius: 5px;
    border: none;
}

.btn-search{
    padding: 0px 10px;
    border-radius: 5px;
}

/* Developers' profiles area  */
.topContent{
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: auto;
}


/* The footer section  */
#footer{
    background-color: #800000;
    height: 15vh;
    color: #ffff;
    padding: 20px;
}

.hr{
    width: 42%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.socialMedia{
   text-align: center;
}

#social{
    margin-right: 25px;

}

.copyright{
    text-align: center;
}