
/*  font-family: 'Actor', sans-serif;
    font-family: 'Adamina', serif;  
    font-family: 'Comfortaa', cursive;
    font-family: 'Poppins', sans-serif; */

/* Global variables  */
@import url('https://fonts.googleapis.com/css2?family=Actor&family=Adamina&family=Comfortaa:wght@700&family=Poppins:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: none;
    color: #ffff;
}

.container{
    width: 100%;
    min-height: 30vh;
}

#main{
    width: 70%;
    margin: auto;

}

/* Header & Navbar section  */
#header{
    background-color: #800000;
    color: #ffff;
    height: 6vh;
}

#navbar{
    display: flex;
    justify-content: center
}

/* Search box section  */
.search{
    margin: 30px 400px;
    width: 800px;
    border-radius: 5px;
    border: none;
}

.btn-search{
    padding: 5px 15px;
    border-radius: 5px;
    color: #ffff;
    background-color: #800000;
    border: none;
}

/* Developers' profiles area  */
.topContent{
    display: flex;
    justify-content: space-between;
    /* width: 70%; */
    margin: auto;
    margin-bottom: 20px;
}

.hr1{
    margin-bottom: 15px;
}

.users{
    margin-bottom: 30px;
    border: #800000 3px solid;
    border-radius: 8px;
    padding: 10px;
    width: 350px;
}

.user-names{
    height: 25vh;
    overflow-y: scroll;

}

.user-profiles{
    width: 500px;
    min-height: 40vh;
    background-color: aquamarine;
}

.users-list{
    list-style: none;
    text-transform: capitalize;
}

#devNames{
    cursor: pointer;
}

.bottomContent{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

#comments > textarea{
    border-radius: 8px;
    padding: 10px;
}

.submit{
    display: block;
    border-radius: 6px;
    padding: 5px 20px;
    background-color: #800000;
    color: #ffff;
    border: none;
}


/* The footer section  */
#footer{
    background-color: #800000;
    height: 15vh;
    color: #ffff;
    padding: 20px;
    margin-top: 30px;
}

.hr{
    width: 42%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.socialMedia{
   text-align: center;
}

#social{
    margin-right: 25px;
    cursor: pointer;

}

.copyright{
    text-align: center;
}